<div class="title-bar">
  <div class="logo side"></div>
  <div class="main">{{vm.selected.name}}</div>
</div>
<div class="main-view">
  <div class="side">
    <div class="section-bar">Batches</div>
    <ul class="list-group">
      <li ng-repeat="batch in vm.batches" class="list-group-item"
          ng-click="$root.$state.go('batches', ({batchId: batch.BOID}))" ng-class="{'active': vm.selected.BOID == batch.BOID}">
        {{batch.NAME}}
      </li>
    </ul>
  </div>
  <div class="main">
    <div class="section-bar">
      <i class="glyphicon glyphicon-chevron-down"
         ng-click="vm.sectionbatchhidden=!vm.sectionbatchhidden" ng-if="!vm.sectionbatchhidden"></i>
      <i class="glyphicon glyphicon-chevron-right"
         ng-click="vm.sectionbatchhidden=!vm.sectionbatchhidden" ng-if="vm.sectionbatchhidden"></i>Batchrun
    </div>
    <div class="section container-fluid" ng-if="!vm.sectionbatchhidden">
      <div class="row">
        <div class="col-xs-6">Batchlauf (Datum/Zeit/BOID)</div>
        <div class="col-xs-6">
          <select ng-model="vm.selectedrunBoid" ng-options="myrun.BOID as vm.getRunName(myrun) for myrun in vm.runs"
                  ng-change="vm.selectBatchRun(vm.selectedrunBoid)"
                  class="form-control">
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">Laufzeit</div>
        <div class="col-xs-3">12 min 42s</div>
        <div class="col-xs-3">Anzahl Worker</div>
        <div class="col-xs-3">80</div>
      </div>
      <div class="row">
        <div class="col-xs-3">Verarbeitete Items</div>
        <div class="col-xs-3">10123</div>
        <div class="col-xs-3">Verarbeitungszeit pro Item</div>
        <div class="col-xs-3">2.76s</div>
      </div>
    </div>
    <div class="section-bar">
      <i class="glyphicon glyphicon-chevron-down"
         ng-click="vm.sectionkzhidden=!vm.sectionkzhidden" ng-if="!vm.sectionkzhidden"></i>
      <i class="glyphicon glyphicon-chevron-right"
         ng-click="vm.sectionkzhidden=!vm.sectionkzhidden" ng-if="vm.sectionkzhidden"></i>Kennzahlen
    </div>
    <div class="section container-fluid" ng-if="!vm.sectionkzhidden">
      <Kennzahlen runstats="vm.selectedrun.kennzahlen" kzstats="vm.selected.kennzahlStats"></Kennzahlen>
    </div>
    <div class="section-bar">
      <i class="glyphicon glyphicon-chevron-down"
         ng-click="vm.sectionnotificationhidden=!vm.sectionnotificationhidden"
         ng-if="!vm.sectionnotificationhidden"></i>
      <i class="glyphicon glyphicon-chevron-right"
         ng-click="vm.sectionnotificationhidden=!vm.sectionnotificationhidden" ng-if="vm.sectionnotificationhidden"></i>Notification
      Settings
    </div>
    <div class="section container-fluid" ng-if="!vm.sectionnotificationhidden">
      <div class="row">
        <div class="col-xs-3">Some notification settings</div>
      </div>
    </div>
  </div>


</div>
