<div class="container-fluid">
  <div class="row">
    <left class="col-xs-4">
      <ul class="list-group">
        <li ng-repeat="batch in vm.batches" class="list-group-item">
          <a ui-sref="batches({batchId: batch.boid})">
          {{batch.name}}
          </a>
        </li>
      </ul>
    </left>
    <main class="col-xs-8" ng-if="vm.selected">

      <uib-tabset active="vm.activetab">
        <uib-tab index="0" heading="{{vm.selected.name}}" select="vm.tabChanged(0)">
          <div col="row">
            <div class="col-xs-12">
              Lauf: <select ng-model="vm.run" ng-options="myrun as vm.getRunName(myrun) for myrun in vm.selected.runs"
                            class="form-control">
            </select>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <h2>Kennzahlen</h2>
              <Kennzahlen batchlauf="vm.run"></Kennzahlen>
            </div>
          </div>
        </uib-tab>
        <uib-tab index="1" select="vm.tabChanged(1)">
          <uib-tab-heading>
            <i class="glyphicon glyphicon-stats"></i>&nbsp;History
          </uib-tab-heading>

          <div class="row">
            <div class="col-xs-3">
              <select ng-model="vm.selectedKz" ng-options="myKz as myKz.name for myKz in vm.kennzahlen"
                      class="form-control">
              </select>
            </div>
            <div class="col-xs-9">
              {{vm.selectedKz.description}}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <kzhistorygraph kz="vm.selectedKz"></kzhistorygraph>
            </div>
          </div>





        </uib-tab>
        <uib-tab heading="Log" index="2" select="vm.tabChanged(2)">
          Log
        </uib-tab>
      </uib-tabset>
    </main>
  </div>
</div>