
.kennzahl {
  rect.settings {
    fill-opacity: 0.8;
  }
  cursor: pointer;
  i {
    padding-left: 15px;
  }

  .edit-form {
    display: flex;
  }
  .form-inline {
    .form-control {
      width: 60px;
    }

    div {
      .green {
        background: green;
      }
      .yellow {
        background: yellow;
      }
      .red {
        background: red;
      }
      min-width: 20px;
      margin-left: 5px;
      margin-right: 5px;

    }
  }
}

