

///////////////
/* VARIABLES */
///////////////

$font-stack:    Helvetica, Arial, sans-serif;
$font-size: 	14px;

// Schema 1 - BLUE
$color00:		#FFFFFF; 		// default: white
$color11:		#A9C7E6; 		// light blue
$color12: 		#266CAE; 		// medium blue
$color13:		#003366; 		// dark blue
$color21:		#E9E9E9; 		// bright grey
$color22:		#E1E1E1; 		// medium grey
$color23:		#A1A1A1; 		// dark grey
$color41:		#93c47D;		// status: normal
$color42:		#FFE599;		// status: warning
$color43:		#E06666;		// status: error
$color99:		#000000; 		// default: black
$lcolor11:		linear-gradient(to top, #b7d0ea 0%,#b7d0ea 50%,#a9c7e6 50%,#bed5ec 54%,#bed5ec 100%);	// Basis: $color11
$lcolor13:		linear-gradient(to top, #144372 0%,#144372 20%,#003366 40%,#003366 50%,#194775 60%,#1e4b78 80%,#1e4b78 100%);	// Basis: $color13

// Schema 2 - GREEN
/*
$color00:		#FFFFFF; 		// default: white
$color11:		#C6E4DF; 		// light green
$color12: 		#1d7c8c; 		// medium green
$color13:		#124a54; 		// dark green
$color21:		#E9E9E9; 		// bright grey
$color22:		#E1E1E1; 		// medium grey
$color23:		#A1A1A1; 		// dark grey
$color41:		#FFFFFF;		// status: normal
$color42:		#FFE599;		// status: warning
$color43:		#E06666;		// status: error
$color99:		#000000; 		// default: black
$lcolor11:		linear-gradient(to top, #c6e4df 0%,#83c4b8 49%,#c6e4df 50%,#c6e4df 66%);	// Basis: $color11
$lcolor13:		linear-gradient(to top, #186775 0%,#124a54 49%,#186775 50%,#186775 66%);	// Basis: $color13
*/

////////////
/* STYLES */
////////////


kzhistorygraph {
  min-height: 500px;

  .axis {
    line {	// helpers
      stroke: $color11;
    }
  }
  
  path {	// graph
	stroke: $color12;
	&.domain {	// axis
		stroke: $color13;
	} 
  }
 
  g.tick {
	font-size: 12px;
  }

  rect {
    fill-opacity: 0.2;
  }

  .tooltip {
    position: fixed;
  }

  .dot {
    cursor: pointer;
    fill: $color12;
  }
}


