<div class="title-bar">
  <div class="logo side"></div>
  <div class="main">EV Inkasso monatlich</div>
</div>
<div class="main-view">
  <div class="side">
    <div class="section-bar">Batches</div>
    <ul class="list-group">
      <li ng-repeat="batch in vm.batches" class="list-group-item" ng-class="{'active': vm.selected.boid == batch.boid}"
          ng-click="$root.$state.go('batches', ({batchId: batch.BOID}))">
        {{batch.NAME}}
      </li>
    </ul>
  </div>
  <div class="main">
    <div class="section-bar">
      <i class="glyphicon glyphicon-chevron-down"
         ng-click="vm.sectionbatchhidden=!vm.sectionbatchhidden" ng-if="!vm.sectionbatchhidden"></i>
      <i class="glyphicon glyphicon-chevron-right"
         ng-click="vm.sectionbatchhidden=!vm.sectionbatchhidden" ng-if="vm.sectionbatchhidden"></i>Batchrun
    </div>

    <div class="row">
      <div class="col-xs-3">
        <select ng-model="vm.selectedKzBoid" ng-options="myKz.ITSKENNZAHLCONFIG as myKz.NAME for myKz in vm.selected.kennzahlStats"
                class="form-control">
        </select>
      </div>
      <div class="col-xs-6">
        {{vm.kennzahl.DESCRIPTION}}
      </div>
      <div class="col-xs-3">
        <div class="checkbox">
          <label><input type="checkbox" ng-model="vm.includeIgnored" ng-change="vm.selectKz(vm.selected.BOID, vm.kennzahl.BOID)">Ignorierte miteinbeziehen</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <kzhistorygraph kz="vm.kennzahl"></kzhistorygraph>
      </div>
    </div>
  </div>
</div>