///////////////
/* Hints */
///////////////

//    Hintergrundbilder mit Farbverlauf http://colorzilla.com/gradient-editor/


///////////////
/* VARIABLES */
///////////////

$font-stack:    Helvetica, Arial, sans-serif;
$font-size: 	14px;

// Schema 1 - BLUE
/*
$color00:		#FFFFFF; 		// default: white
$color11:		#A9C7E6; 		// light blue
$color12: 		#266CAE; 		// medium blue
$color13:		#003366; 		// dark blue
$color21:		#E9E9E9; 		// bright grey 
$color22:		#E1E1E1; 		// medium grey 
$color23:		#A1A1A1; 		// dark grey 
$color41:		#93c47D;		// status: normal
$color42:		#FFE599;		// status: warning
$color43:		#E06666;		// status: error
$color99:		#000000; 		// default: black
$lcolor11:		linear-gradient(to top, #b7d0ea 0%,#b7d0ea 50%,#a9c7e6 50%,#bed5ec 54%,#bed5ec 100%);	// Basis: $color11
$lcolor13:		linear-gradient(to top, #144372 0%,#144372 50%,#003366 50%,#003366 50%,#194775 53%,#1e4b78 54%,#1e4b78 100%);	// Basis: $color13
*/

// Schema 2 - GREEN
$color00:		#FFFFFF; 		// default: white
$color11:		#C6E4DF; 		// light green
$color12: 		#1d7c8c; 		// medium green
$color13:		#124a54; 		// dark green
$color21:		#E9E9E9; 		// bright grey
$color22:		#E1E1E1; 		// medium grey
$color23:		#A1A1A1; 		// dark grey
$color41:		$color11;		// status: normal
$color42:		#FFE599;		// status: warning
$color43:		#E06666;		// status: error
$color99:		#000000; 		// default: black
$lcolor11:		linear-gradient(to top, #c6e4df 0%,#83c4b8 49%,#c6e4df 50%,#c6e4df 66%);	// Basis: $color11
$lcolor13:		linear-gradient(to top, #186775 0%,#124a54 49%,#186775 50%,#186775 66%);	// Basis: $color13



/////////////////////
/* GENERAL DESIGNS */
/////////////////////

body {
	width: 100%;
  	padding-top: 80px;
	font-family: $font-stack;
	font-size: $font-size;
}

left {
	&.col-xs-4 {	// menu left
		min-width: 250px;
		width: 25%;
		padding-left: 0;
    	padding-right: 0;
	}
}

main {
	&.col-xs-8 {	// content frame
		width: 75%;
    	padding-left: 30px;
    	padding-right: 0;
	}
}

h2, h1 {
	font-weight: 300;
	font-size: 24px;
	color: $color13;
	text-align: left;
	&.ng-scope {
		margin-top: 0;
		margin-bottom: 0;
	}
}

h3 {
	font-weight: 200;
	font-size: 20px;
	color: $color13;
}

div {
		&.row {
			margin-left: 0;
			margin-right: 0;
		}
		&.ng-scope {
			margin-top: 10px;
		}
		&.tab-pane.ng-scope.active {
			float: left;
		}
		&.container-fluid {
			width: 100%;
		}
		&.container {            // NAVBAR-Section
			width: 100%;
			padding-top: 10px;
			padding-left: 30px;
			padding-right: 30px;
			&.ng-scope{
				padding-left: 63px;
			}
		}
		&.navbar-collapse {
			font-family: $font-stack;
			font-size: 16px;
			color: $color00;
			background: $lcolor13;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
		}
		&.col-xs-3 {	// dropdown-frame for history-graph
			width: auto;
			padding-left: 0;
			padding-right: 30px;
		}
		&.col-xs-9 {
			padding-left: 0;
			padding-right: 0;
			//vertical-align: bottomline;
		}
		&.col-xs-12 {	// reporting and frame with batchrun-dropdown
			padding-left: 0;
		}
		&.col-sm-6, .col-sm-12 {
			padding-left: 0;
			margin-left: 0;
			margin-bottom: 0;
			padding-bottom: 0;
		}
		&.col-lg-4 {
			padding-left: 0;
			padding-top: 30px;
		}
}

ul {
	&.nav.nav-tabs {
		border-color: $color11;
		
		li {
			&.active { // active tabs
				a {
					color: $color13;
					border-color: $color11;
					border-bottom-color: transparent;
					&:hover {				
						background: $color00;
						border-bottom-color: transparent;
					}
				}
			}
			a {
				&:hover { // Mouseover inactive tabs
					border-color: $color11;
					background: $lcolor11;
				}
			}
		}
	}
}

select {
	&.form-control {	// dropdown-box with batchruns or graph-selction
		width: auto;
	}
}

button {
	&.navbar-toggle {
		background: $lcolor13;
	}
	&.btn {
		background: $lcolor13;
	}
}

////////////////////////
/* TABLE WITH BATCHES */
////////////////////////

.list-group-item {
	border-width: 0;
	border-color: $color11;
	border-right-width: 1px;
	padding-left: 48px;
	&:first-child {
		border-top-left-radius: 5px;
		border-top-right-radius: 0;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 0;
	}
	&:last-child {
		border-top-left-radius: 5px;
		border-top-right-radius: 0;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 0;
	}
	&:hover {
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		background: $lcolor11;
		color: $color00;
		cursor: pointer;
	}
}



a {
	color: $color12;
	text-decoration: none;
	&.ng-binding {
		&:hover {
			color: $color00;
			//background: $lcolor11;
			text-decoration: none;
		}
	}
}


////////////////////
/* NAVIGATION BAR */
////////////////////

.navbar-inverse {
	width: 100%;
	background: $color00;
	color: $color99;
    border-width: 0;
	
	.navbar-nav {
		.active {
			a { 
				color: $color13;
				background: $lcolor11;
			}
		}
		li {
			a { 
				color: $color11;
				&:hover {
					color: $color00;
				}
			}
		}
	}
}

span{
	&.glyphicon {	// flag-icon left in the navbar
		color: $color11;
		&:hover {
			color: $color00;
		}
	}
}

///////////////////////////////////
/* FIGURES BAR AND HISTORY GRAPH */
///////////////////////////////////

rect{
	&.stdabw {
		fill: $color12;
	} 
	&.history {
		fill: $color12;
	} 
	&.error {
  		fill: $color43;
	}
	&.warning {
  		fill: $color42;
	}
	&.normal {
  		fill: $color41;
	}
}

circle {
	fill: $color13;
}

svg {
	width: 800px;
}



