<div class="section-bar">
  <i class="glyphicon glyphicon-chevron-down"
     ng-click="vm.sectionbatchhidden=!vm.sectionbatchhidden" ng-if="!vm.sectionbatchhidden"></i>
  <i class="glyphicon glyphicon-chevron-right"
     ng-click="vm.sectionbatchhidden=!vm.sectionbatchhidden" ng-if="vm.sectionbatchhidden"></i>Kennzahlen Settings
</div>
<div class="section container-fluid" ng-if="!vm.sectionbatchhidden">
  <div class="row">
    <div class="col-xs-4">
      <h3>Kunden Batches</h3>
      <ul class="batch-listing">
        <li class="list-group-item" ng-repeat="bc in vm.batchconfigs" ng-click="vm.selectBatchConfig(bc)"
            ng-class="{'active': vm.selectedbatchconfig.BOID == bc.BOID}">{{bc.NAME}}
        </li>
      </ul>
    </div>
    <div class="col-xs-3">
      <h3>Kennzahlen</h3>
      <ul class="kz-listing">
        <li class="list-group-item" ng-repeat="kz in vm.currentkzs" ng-click="vm.selectKz(kz)"
            ng-class="{'active': vm.selectedkzconfig.ITSKENNZAHL == kz.BOID}">
          <input type="checkbox" ng-change="vm.kzCheckboxClicked(kz)" ng-model="vm.kzcheckboxes[kz.BOID]"> {{kz.NAME}}
        </li>
      </ul>
    </div>
    <div class="col-xs-5">
      <form novalidate name="vm.kzform" ng-if="vm.selectedkzconfig">
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="kzname">Kennzahl Original Name:</label>
              <input ng-model="vm.selectedkz.NAME" type="text" class="form-control" id="kzname"
                     readonly placeholder="Selektiere eine Kennzahl...">
            </div>
            <div class="form-group">
              <label for="kzconfigname">Kundenspezifischer Name:</label>
              <input ng-model="vm.selectedkzconfig.NAME" type="text" class="form-control" id="kzconfigname"
                     placeholder="">
            </div>
            <div class="form-group">
              <label for="kzconfigdesc">Beschreibung:</label>
              <input ng-model="vm.selectedkzconfig.DESCRIPTION" type="text" class="form-control" id="kzconfigdesc"
                     placeholder="Beschreibung der Kennzahl Konfiguration">
            </div>
          </div>
        </div>
        <div class="row" ng-if="vm.selectedkzconfig.BOID">
          <div class="col-xs-8">
            <div ng-if="vm.selectedkzconfig.kzstats && vm.selectedkzconfig.kzstats.ANZAHL > 0">
              Anzahl Messungen: {{vm.selectedkzconfig.kzstats.ANZAHL}}<br>
              Erste Messung: {{vm.selectedkzconfig.kzstats.VON | date}}<br>
              Letzte Messung: {{vm.selectedkzconfig.kzstats.BIS | date}}<br>
            </div>
            <div ng-if="!vm.selectedkzconfig.kzstats || vm.selectedkzconfig.kzstats.ANZAHL == 0">
              {{vm.getKzMessage()}}
            </div>
          </div>
          <div class="col-xs-4">
            <button class="btn btn-default" ng-click="vm.recalckz()">Neuberechnen</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
