<div class="section-bar">
  <i class="glyphicon glyphicon-chevron-down"
     ng-click="vm.sectionbatchhidden=!vm.sectionbatchhidden" ng-if="!vm.sectionbatchhidden"></i>
  <i class="glyphicon glyphicon-chevron-right"
     ng-click="vm.sectionbatchhidden=!vm.sectionbatchhidden" ng-if="vm.sectionbatchhidden"></i>Batch Spezifikation
</div>
<div class="section container-fluid" ng-if="!vm.sectionbatchhidden">
  <div class="row">
    <div class="col-xs-4">
      <h3>Syrius Batches</h3>
      <ul class="batch-listing">
        <li class="list-group-item" ng-repeat="syrbatch in vm.syriusbatches" ng-click="vm.selectSyriusBatch(syrbatch)"
            ng-class="{'active': vm.selectedsyrbatch.BOID == syrbatch.BOID}">
          {{::syrbatch.BEZEICHNUNGDT}}
        </li>
      </ul>
    </div>
    <div class="col-xs-4">
      <h3>Kunden Batches</h3>
      <ul class="batch-listing">
        <li class="list-group-item" ng-repeat="bc in vm.batchconfigs" ng-click="vm.selectBatchConfig(bc)"
            ng-class="{'active': vm.selectedbatchconfig.BOID == bc.BOID}">{{bc.NAME}}
        </li>
      </ul>
    </div>
    <div class="col-xs-4">
      <form novalidate name="vm.batchconfigform">
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="syrbatchname">Syrius Batch Name:</label>
              <input ng-model="vm.selectedsyrbatch.BEZEICHNUNGDT" type="text" class="form-control" id="syrbatchname"
                     readonly placeholder="Selektiere einen Batch...">
            </div>
            <div class="form-group">
              <label for="bcname">Kunden Batch Name:</label>
              <input ng-model="vm.selectedbatchconfig.NAME" type="text" class="form-control" id="bcname"
                     placeholder="">
            </div>
            <div class="form-group">
              <label for="bcdesc">Kunden Batch Beschreibung:</label>
              <input ng-model="vm.selectedbatchconfig.DESCRIPTION" type="text" class="form-control" id="bcdesc"
                     placeholder="Beschreibung der Configuration">
            </div>
          </div>
        </div>
        <div class="row" ng-if="vm.selectedbatchconfig && vm.selectedbatchconfig.BOID">
          <div class="col-xs-4">
            <button class="btn btn-default" ng-click="vm.reloadBatchConfig()">Neu Laden</button>
          </div>
          <div class="col-xs-4">
            <div ng-if="vm.reloadResult">
              removed: {{vm.reloadResult.removed.rowsAffected}} runs<br>
              added: {{vm.reloadResult.added.rowsAffected}} runs</div>
          </div>
          <div class="col-xs-4">
            <button class="btn btn-danger" ng-click="vm.deleteBatchConfig()">Löschen</button>
          </div>
        </div>
        <div class="row" ng-if="vm.batchconfigform.$dirty">
          <div class="col-xs-4"></div>
          <div class="col-xs-4">
            <button ng-click="vm.formCancel()" class="btn btn-default">Cancel</button>
          </div>
          <div class="col-xs-4">
            <button ng-click="vm.formSubmit()" class="btn btn-primary">Save</button>
          </div>
          <div class="col-xs-4"></div>
        </div>
      </form>
    </div>
  </div>
</div>
